#__stutter {
  --barBG: #000;
  --barBorder: #333;
  --progressColor: #222;
  --textColor: #fff;
  --textHighlight: #f36;
  --buttonColor: #666;
  --pausedTextColor: rgba(255, 255, 255, 0.5);
  --bgScreen: rgba(0, 0, 0, 0.5);
}
