#__stutter.theme-gameboy {
  --barBG: #736a7b;
  --barBorder: #111437;
  --progressColor: #c4bfc6;
  --textColor: #16102c;
  --textHighlight: #38373f;
  --buttonColor: #710e3c;
  --pausedTextColor: rgba(255, 255, 255, 0.5);
}
