#__stutter.theme-hacktoberfest {
  --barBG: #1194ff;
  --barBorder: #92eaff;
  --progressColor: #152247;
  --textColor: #fffeff;
  --textHighlight: #fdfb20;
  --buttonColor: #a11ec6;
  --pausedTextColor: rgba(255, 255, 255, 0.5);
	--bgScreen: rgba(0, 0, 0, 0.5);
}
