#__stutter.theme-light {
  --barBG: #fff;
  --barBorder: #888;
  --progressColor: #ccc;
  --textColor: #333;
  --textHighlight: #f36;
  --buttonColor: #666;
  --pausedTextColor: rgba(255, 255, 255, 0.5);
  --bgScreen: rgba(255, 255, 255, 0.2);
}
