#__stutter.theme-night {
  --barBG: #000;
  --barBorder: #f00;
  --progressColor: #000;
  --textColor: #f00;
  --textHighlight: #fff;
  --buttonColor: #f00;
  --pausedTextColor: rgba(255, 0, 0, 0.5);
  --bgScreen: rgba(0, 0, 0, 0.9);
}
