#__stutter.theme-nord {
  --barBG: #2e3440;
  --barBorder: #434c5e;
  --progressColor: #3b4252;
  --textColor: #e5e9f0;
  --textHighlight: #b48ead;
  --buttonColor: #81a1c1;
  --pausedTextColor: rgba(255, 255, 255, 0.5);
  --bgScreen: rgba(0, 0, 0, 0.5);
}
