#__stutter.skelator {
  --barBG: #79cff0;
  --barBorder: #a177d6;
  --progressColor: #0c0d0f;
  --textColor: #7a45c0;
  --textHighlight: #efc119;
  --buttonColor: #666;
  --pausedTextColor: rgba(255, 255, 255, 0.5);
}
