#__stutter.theme-solarized {
  --barBG: #002b36;
  --barBorder: #93a1a1;
  --progressColor: #073642;
  --textColor: #fdf6e3;
  --textHighlight: #d33682;
  --buttonColor: #268bd2;
  --pausedTextColor: rgba(253, 246, 227, 0.5);
	--bgScreen: rgba(0, 0, 0, 0.5);
}
