#__stutter.theme-solarized {
  --barBG: #002b36;
  --barBorder: #93a1a1;
  --progressColor: #586e75;
  --textColor: #fdf6e3;
  --textHighlight: #268bd2;
  --buttonColor: #dc322f;
  --pausedTextColor: rgba(253, 246, 227, 0.5);
}
