#__stutter.theme-terminal {
  --barBG: #000;
  --barBorder: #31c95a;
  --progressColor: #010;
  --textColor: #31c95a;
  --textHighlight: #f0f;
  --buttonColor: #666;
  --pausedTextColor: rgba(255, 255, 255, 0.2);
}
