/* Styles here are explicitly as targeted as possible
 * to ensure they have priority over page styles.
 */
.__stutter {
  display: block;
  position: relative;
  height: 50px;
  margin: 15px;
  width: calc(100% - 30px);
  overflow: hidden;
  z-index: 999999999;
  background: black;
  text-align: center;
  top: 0;
  border-radius: 15px;

  @for $i from 0 through 100 {
    &[data-progress='#{$i}'] {
      background: linear-gradient(to right, #000 0%, #000 #{$i+'%'}, #222 #{$i+'%'}, #222 100%);
    }
  }

  .__stutter_text {
    display: block;
    position: relative;
    padding-top: 8px;
    color: white !important;
    font-family: arial !important;
    font-size: 30px !important;
    line-height: 1em !important;

    .__stutter_left {
      display: block;
      text-align: right;
      position: absolute;
      right: 66%;
      cursor: pointer;
      user-select: none;
    }

    .__stutter_right {
      display: block;
      text-align: left;
      position: absolute;
      left: 34%;
      cursor: pointer;
      user-select: none;

      .__stutter_center {
        color: #f36 !important;
        cursor: pointer;
        user-select: none;
      }
    }

    .__stutter_close {
      display: block;
      text-align: right;
      position: absolute;
      right: 15px;
      cursor: pointer;
      user-select: none;
    }
  }
}

@media screen and (min-width: 700px) {
  .__stutter {
    .__stutter_text {
      .__stutter_left {
        right: 53%;
      }

      .__stutter_right {
        left: 47%;
      }
    }
  }
}
