/* Styles here are explicitly as targeted as possible
 * to ensure they have priority over page styles.
 */
#__stutter {
  --barBG: #000;
  --barBorder: #333;
  --progressColor: #222;
  --textColor: #fff;
  --textHighlight: #f36;
  --buttonColor: #666;
  --pausedTextColor: rgba(255, 255, 255, 0.5);

  &.theme-light {
    --barBG: #fff;
    --barBorder: #888;
    --progressColor: #ccc;
    --textColor: #333;
    --textHighlight: #f36;
    --buttonColor: #666;
    --pausedTextColor: rgba(255, 255, 255, 0.5);
  }

  &.theme-skeletor {
    --barBG: #79cff0;
    --barBorder: #a177d6;
    --progressColor: #0c0d0f;
    --textColor: #7a45c0;
    --textHighlight: #efc119;
    --buttonColor: #666;
    --pausedTextColor: rgba(255, 255, 255, 0.5);
  }

  background: var(--barBG);
  border-radius: 15px;
  border: 2px solid var(--barBorder);
  display: block;
  height: 50px;
  line-height: 1em !important;
  margin-left: 15px;
  position: fixed;
  text-align: center;
  top: calc(50vh - 25px);
  left: 0;
  width: calc(100% - 35px);
  z-index: 999999999;

  @for $i from 0 through 100 {
    &[data-progress='#{$i}'] {
      background: linear-gradient(to right, var(--barBG) 0%, var(--barBG) #{$i+'%'}, var(--progressColor) #{$i+'%'}, var(--progressColor) 100%);
    }
  }

  .__stutter_text {
    display: block;
    line-height: 1em !important;
    padding-top: 8px;
    position: relative;
    user-select: none;
    width: 100%;

    .__stutter_pausebtn {
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      width: 100%;
      height: 50px;
    }

    .__stutter_left {
      color: var(--textColor) !important;
      display: block;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
      font-size: 30px !important;
      line-height: 1em !important;
      pointer-events: none;
      position: absolute;
      right: 66%;
      text-align: right;
    }

    .__stutter_right {
      color: var(--textColor) !important;
      display: block;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
      font-size: 30px !important;
      left: 34%;
      line-height: 1em !important;
      pointer-events: none;
      position: absolute;
      text-align: left;

      .__stutter_center {
        color: var(--textHighlight) !important;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 30px !important;
        line-height: 1em !important;
        pointer-events: none;
      }

      .__stutter_remainder {
        color: var(--textColor) !important;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 30px !important;
        line-height: 1em !important;
        pointer-events: none;
      }
    }

    .__stutter_options {
      color: var(--buttonColor) !important;
      cursor: pointer;
      display: block;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
      font-size: 30px !important;
      left: 15px;
      line-height: 1em !important;
      position: absolute;
      text-align: left;
      user-select: none;
    }

    .__stutter_drag {
      color: var(--buttonColor) !important;
      cursor: pointer;
      display: block;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
      font-size: 21px !important;
      left: 17px;
      top: -25px;
      line-height: 1em !important;
      position: absolute;
      text-align: center;
      user-select: none;
      cursor: pointer;
      width: 25px;
      height: 25px;
      background-color: var(--barBG);
    }

    .__stutter_close {
      color: var(--buttonColor) !important;
      cursor: pointer;
      display: block;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
      font-size: 30px !important;
      line-height: 1em !important;
      position: absolute;
      right: 15px;
      text-align: right;
      user-select: none;
    }
  }

  .__stutter_pause {
    display: none;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent transparent transparent var(--textHighlight);
    cursor: pointer;
    pointer-events: none;
    border-style: double;
    z-index: 100;
    height: 32px;
    left: calc(50% - 30px);
    border-width: 0 0 0 36px;
  }

  &.__stutter_paused {
    .__stutter_pause {
      display: block;
    }

    .__stutter_text {
      .__stutter_left,
      .__stutter_center,
      .__stutter_remainder {
        color: transparent !important;
        text-shadow: 0 0 5px var(--pausedTextColor);
      }
    }
  }
}

@media screen and (min-width: 700px) {
  #__stutter {
    height: 80px;
    top: calc(50vh - 40px);

    .__stutter_text {
      padding-top: 5px;
      font-size: 60px !important;

      .__stutter_pausebtn {
        height: 80px;
      }

      .__stutter_left {
        right: 53%;
        font-size: 60px !important;
      }

      .__stutter_right {
        left: 47%;
        font-size: 60px !important;

        .__stutter_center,
        .__stutter_remainder {
          font-size: 60px !important;
        }
      }
    }

    .__stutter_pause {
      height: 60px;
      left: calc(50% - 35px);
      border-width: 0 0 0 60px;
      margin-top: 3px;
    }
  }
}
