/* Styles here are explicitly as targeted as possible
 * to ensure they have priority over page styles.
 */
#__stutter {
  background: black;
  border-radius: 15px;
  border: 2px solid #333;
  display: block;
  height: 50px;
  line-height: 1em !important;
  margin: 15px;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  width: calc(100% - 30px);
  z-index: 999999999;

  @for $i from 0 through 100 {
    &[data-progress='#{$i}'] {
      background: linear-gradient(to right, #000 0%, #000 #{$i+'%'}, #222 #{$i+'%'}, #222 100%);
    }
  }

  .__stutter_text {
    display: block;
    line-height: 1em !important;
    padding-top: 8px;
    position: relative;
    user-select: none;
    width: 100%;

    .__stutter_left {
      color: white !important;
      display: block;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
      font-size: 30px !important;
      line-height: 1em !important;
      pointer-events: none;
      position: absolute;
      right: 66%;
      text-align: right;
    }

    .__stutter_right {
      color: white !important;
      display: block;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
      font-size: 30px !important;
      left: 34%;
      line-height: 1em !important;
      pointer-events: none;
      position: absolute;
      text-align: left;

      .__stutter_center {
        color: #f36 !important;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 30px !important;
        line-height: 1em !important;
        pointer-events: none;
      }

      .__stutter_remainder {
        color: white !important;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 30px !important;
        line-height: 1em !important;
        pointer-events: none;
      }
    }

    .__stutter_options {
      color: #666 !important;
      cursor: pointer;
      display: block;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
      font-size: 30px !important;
      left: 15px;
      line-height: 1em !important;
      position: absolute;
      text-align: left;
      user-select: none;
    }

    .__stutter_close {
      color: #666 !important;
      cursor: pointer;
      display: block;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
      font-size: 30px !important;
      line-height: 1em !important;
      position: absolute;
      right: 15px;
      text-align: right;
      user-select: none;
    }
  }

  .__stutter_pause {
    display: none;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent transparent transparent #f36;
    cursor: pointer;
    border-style: double;
    z-index: 100;
    height: 32px;
    left: calc(50% - 30px);
    border-width: 0 0 0 36px;
  }

  &.__stutter_paused {
    .__stutter_pause {
      display: block;
    }

    .__stutter_text {
      .__stutter_left,
      .__stutter_center,
      .__stutter_remainder {
        color: transparent !important;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      }
    }
  }

  &.light {
    background: #fff;
    border: 2px solid #888;

    @for $i from 0 through 100 {
      &[data-progress='#{$i}'] {
        background: linear-gradient(to right, #ccc 0%, #ccc #{$i+'%'}, #fff #{$i+'%'}, #fff 100%);
      }
    }

    .__stutter_text {
      .__stutter_left,
      .__stutter_right {
        color: #333 !important;

        .__stutter_remainder {
          color: #333 !important;
        }
      }
    }

    &.__stutter_paused {
      .__stutter_text {
        .__stutter_left,
        .__stutter_center,
        .__stutter_remainder {
          color: transparent !important;
          text-shadow: 0 0 5px rgba(50, 50, 50, 0.5);
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  #__stutter {
    height: 80px;

    .__stutter_text {
      padding-top: 5px;
      font-size: 60px !important;

      .__stutter_left {
        right: 53%;
        font-size: 60px !important;
      }

      .__stutter_right {
        left: 47%;
        font-size: 60px !important;

        .__stutter_center,
        .__stutter_remainder {
          font-size: 60px !important;
        }
      }
    }

    .__stutter_pause {
      height: 60px;
      left: calc(50% - 35px);
      border-width: 0 0 0 60px;
      margin-top: 3px;
    }
  }
}
