#stutter-form {
  label {
    display: block;

    .attribute {
      display: inline-block;
      width: 250px;
    }

    input {
      display: inline-block;
      width: 100px;
      text-align: center;
    }
  }

  button.submit {
    display: block;
    width: 100px;
    margin: 25px 0;
    text-align: center;
  }
}
